:root {
  --light-blue-color: #f3f7fa;
  --background-color-light: #fff;
  --text-color-grey: #4a4a4a;
  --shadow: 0 .125rem .5rem #0000001a;
}

html,
body {
  background-color: var(--light-blue-color);
  margin: 0;
}
